

.navbar-form input {
    border: none !important;
}

.navbar {
    padding: 20px 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.bg-light {
    background-color: #fefeff !important;
    box-shadow: 0px 0px 10px 0px;
    border-top: 45px solid #333a44;
}
.navbar-light .navbar-nav .nav-link {
    color: #24292f;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #4f99e5;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #4f99e5;
}